.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container img{
    width: 100%;
}
.flex_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_title{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body small/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
     overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price{
    color: #475367;

    /* Body small/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 20.3px */
}
.per_item{
    color: #475367;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}

.description{
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 100%;
      max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.resize{
    width: 100%;
    max-height: 100px;
    height: 100%;
}