.root {
}

.password {
  composes: marketplaceModalPasswordMargins from global;
  margin-bottom: 24px;
  color: var(--Grey-900, #101928);

  /* Paragraph/Small/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 20.3px */
}





@media only screen and (max-width: 1440px) {
 
}
  
@media only screen and (max-width: 1074px) {
  
}

@media only screen and (max-width: 1024px) {
  
  
}

@media only screen and (max-width: 768px) {

.password {
 
  width: 100%;
}
 
}

@media only screen and (max-width: 412px) {
  
}

@media only screen and (max-width: 360px) {
  
 
}



