@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
  composes: marketplaceModalBottomWrapperText from global;
}

.recoveryLink {
  composes: marketplaceModalHelperLink from global;
}

.recoveryLinkInfo {
  composes: marketplaceModalHelperText from global;
}


.defaultUserFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.input_f{
  width: 100%;
}

.form_header{
  
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 46.4px */
  letter-spacing: -0.64px;
}
.txt_center{
  text-align: center;
}
.main_con{
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-width: 600px;
}
.main_con p{
  text-align: center;
}
.form_header_con{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.form_header_con p{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.social_btn{
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--Stroke-Colors-Stroke, #CBD5E1);
  display: flex;
  gap: 10px;
  color: #333;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  align-items: center;
}
.flex_row_btn{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.flex_center{
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 60px 0px 30px 0px;
  margin: 0 auto;
  color: #475367;
  font-feature-settings: 'cv03' on, 'cv04' on;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */
}
.rem_me{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  color: var(--Neutral-Colors-Dark-2, #0A0A0A);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 87.5% */
}
.dontHaveAc{
  padding: 20px;
}
.simple_con{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
}
.or_con{
  display: flex;
  gap: 2px;
  justify-content: space-between;
  align-items: center;
}
.hr{
width: 242.5px;
height: 1px;
background: #CBD5E1;
}


.show_labe{
  display: block;
}

.error{
  color: red;
}

.field_con{
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 56px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--Grey-300, #D0D5DD);
  background: var(--Shade-White, #FFF);
}

.field_con svg{
  margin-right: 10px;
  display: flex;
  cursor: pointer;
  margin-left: -20%;
}
.field_con input{
  border: none;
  background-color: transparent;
  width: 100%;
}

.field_con input:focus{
  border: none;
}

.password_con{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1440px) {
   
}
    
@media only screen and (max-width: 1074px) {
   
}

@media only screen and (max-width: 1024px) {

  .main_con{
    width: fit-content;
    padding: 0px;
  }
    
  .show_labe{
    display: none;
  }
   
}

@media only screen and (max-width: 768px) {
  .main_con{
    width: fit-content;
    padding: 0px;
  }
    
  .show_labe{
    display: none;
  }
  .flex_row_btn{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0px 20px;
  }
  .flex_row_btn div{
    width: 100%;
  }
  .social_btn{
    width: 100%;
  }
   
}

@media only screen and (max-width: 412px) {
   
}

@media only screen and (max-width: 360px) {
  
   
}
    
      
      