.formContent{
    display: inline-flex;
    flex-direction: column;
    padding: 32px 60px;
    align-items: center;
    gap: 20px;
    border-radius: 9px;
    background: #ffffff;
    max-width: 900px;
    height: fit-content;
}

.formContent_done{
    display: inline-flex;
    flex-direction: column;
    padding: 32px 60px;
    align-items: center;
    gap: 20px;
    border-radius: 9px;
    background: #ffffff;
    max-width: 900px;
    height: fit-content;
}

.header{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body large/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 26.1px */
}

.listing_box{
    display: flex;
    padding: 54px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: #FCE3D6;
    justify-content: center;
    align-items: center;
   
   
}

.full_width{
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    text-align: center;
}
.box_con{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 30px 20px 30px;
    cursor: pointer;
}

.base_btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.base_btns > div{
    display: flex;
    gap: 20px;
}

.btn_1{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid #CC400C;
    background: #FFF;
    color: #CC400C;
}

.btn_prev{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid  #F0F2F5;
    background: #FFF;
    color: rgb(167, 167, 167);
}

.btn_next{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    gap: 10px;
    border-radius: 8px;
    background:  #EB5017;
    color: white;
}

.btn_next:disabled{
    border-radius: 8px;
    background: var(--Grey-500, #a7a7a7);
    cursor: not-allowed;
}

.btn_next_publish{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-style: none;
    gap: 10px;
    border-radius: 8px;
    background:  #EB5017;
    color: white;
}
.btn_next_publish:disabled{
    background: var(--Grey-500, #667185);
}

.btn_next:disabled{
    border-radius: 8px;
    background: var(--Grey-500, #667185);
}
.close_con{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24px;
    border-radius: 8px;
    background: #FCFCFC;
    width: 100%;
    padding-bottom: 20px;
}

.close_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--Primary-600, #CC400C);
    background: var(--Shade-White, #FFF);
    color: #CC400C;
}
.select{
    z-index: 99999;
}

.select_cat{
    width: 100%;
}
.flex_row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.p{
    color: var(--Grey-900, #101928);
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    margin: 0px;
    padding: 0px;
}
.header_2{
    color: var(--Grey-900, #101928);
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body medium/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin: 0px;
    padding: 0px;
}

.picture_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
.pic_item{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 133px;
    padding: 24px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 200/133;
    border-radius: 13.468px;
    border: 1.263px dashed var(--Grey-300, #D0D5DD);
    background: var(--Shade-White, #FFF);
    cursor: pointer;
}
.upload_icon_con{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    cursor: pointer;
}
.pic_label{
    color: var(--Primary-500, #EB5017);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
    font-family: Inter;
    font-size: 11.785px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 17.088px */
}

.reset_con{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24px;
    border-radius: 8px;
    background: #FCFCFC;
    width: 100%;
    padding-top: 20px;
}
.action_con{
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    border-radius: 8px;
    width: 100%;
}
.reset_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid var(--Grey-100, #F0F2F5);
    background: var(--Shade-White, #FFF);
    color: var(--Grey-400, #98A2B3);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}

.add_item_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Primary-500, #EB5017);
    border: none;
    color: white;
    color: var(--Shade-White, #FFF);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}


.base_btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.base_btns > div{
    display: flex;
    gap: 20px;
}

.btn_1{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid #CC400C;
    background: #FFF;
    color: #CC400C;
}

.btn_prev{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid  #F0F2F5;
    background: #FFF;
    color: rgb(167, 167, 167);
}

.btn_next{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    gap: 10px;
    border-radius: 8px;
    background:  #EB5017;
    color: white;
}

.btn_next:disabled{
    border-radius: 8px;
    background: var(--Grey-500, #a7a7a7);
    cursor: not-allowed;
}

.resize{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.create_new_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Primary-500, #EB5017);
    color: var(--Shade-White, #FFF);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
    border: none;
}

.import_btn{
    display: flex;
    padding: 8px 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--Primary-600, #CC400C);
    background: var(--Shade-White, #FFF);
    color: var(--Primary-600, #CC400C);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}
.category_item{
   display: flex;
    height: 464px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    background: #FFF;
    overflow: hidden;
}
.top_actions{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #EDEDED;
    background: #FFF;
}

.top_action_con{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
.export_btn_2{
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--Primary-600, #CC400C);
    background: var(--Shade-White, #FFF);
    color: var(--Primary-600, #CC400C);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}
.other_btn{
    display: flex;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Grey-300, #D0D5DD);
    background: var(--Shade-White, #FFF);
    color: var(--Grey-900, #101928);
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}
.container_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding:  20px 10px;
}



.base_btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.base_btns > div{
    display: flex;
    gap: 20px;
}

.btn_1{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid #CC400C;
    background: #FFF;
    color: #CC400C;
}

.btn_prev{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid  #F0F2F5;
    background: #FFF;
    color: rgb(167, 167, 167);
}

.btn_next{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    gap: 10px;
    border-radius: 8px;
    background:  #EB5017;
    color: white;
}

.btn_next:disabled{
    border-radius: 8px;
    background: var(--Grey-500, #a7a7a7);
    cursor: not-allowed;
}

.profile_completion{
    display: flex;
    padding: 20px 20px 24px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    box-shadow: 0 0 1px gray;
    background-color: white;
    border-radius: 2px 10px 10px 2px;
    border-left-style: solid;
    border-left-color: #DD900D;
    border-right-width: 6px;
    align-items: flex-start;
}


.profile_completion_ready{
    display: flex;
    padding: 20px 20px 24px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    box-shadow: 0 0 1px gray;
    background-color: white;
    border-radius: 2px 10px 10px 2px;
    border-left-style: solid;
    border-left-color:  #04802E;
    border-right-width: 6px;
    align-items: flex-start;
}

.profile_completion .header{
    color: var(--Grey-900, #101928);
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
}

.profile_completion p{
    color: var(--Grey-600, #475367);
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    margin: 0;
    padding: 0;
}
.flex_row_start{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.flex_row_start_bottom{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: baseline;
}
.complete_profile_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #DD900D;
    border-style: none;
    width: fit-content;
}

.flex_col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.alert_con{
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Warning-75, #FBE2B7);
    background: var(--Warning-50, #FEF6E7);
}

.alert_ready_con{
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Success-75, #B5E3C4);
    background: var(--Success-50, #E7F6EC);
}

.what_happen{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.what_happen span{
    color: #000;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}

.what_happen p{
    color: #475367;
    font-feature-settings: 'cv03' on, 'cv04' on;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 17.4px */
}

.photo_con{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.pic_item{
    display: flex;
    width: 240px;
    height: 240px;
    padding: 84px 0px 83px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1.5px dashed #D0D5DD;
    background: #FFF;
}

.cover_header{
    color: #000;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    margin: 0px;
    padding: 0px;
}

.cover_desc{
    color: #475367;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}
.cover_con{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}
.remove_con{
    display: flex;
    padding: 6px;
    align-items: flex-start;
    gap: 2px;
    cursor: pointer;
}
.remove{
    color: #475367;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.28px;
}

.img_con{
     display: flex;
    flex-direction: column;
    width: 200px;
    height: 133px;
    justify-content: center;
    align-items: flex-start;
    background: var(--Shade-White, #FFF);
    cursor: pointer;
}


.close_btn{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    margin-top: -10px;
    margin-left: auto;
    border: none;
}
.close_icon{
    margin-right: -50px;
    position: absolute;
}


.desktop{
    display: flex;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 1440px) {
   
}
    
@media only screen and (max-width: 1074px) {
   
}

@media only screen and (max-width: 1024px) {

  
   
}

@media only screen and (max-width: 768px) {
  
    .formContent {
        width: 100%;
        padding: 16px;
        margin-bottom: 50px;
    }

        
    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }

    .box_con {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px 20px 0px;
        cursor: pointer;
    }

    .close_icon {
        margin-right: 0px;
    }

    .close_btn {
        margin-top: 10px;
        padding: 0px;
    }

    .picture_grid{
        grid-template-columns: 1fr;
    }

    .grid_con{
        grid-template-columns: 1fr;
    }

    .formContent_done{
        padding: 16px;
        margin-bottom: 50px;
    }
   
}

@media only screen and (max-width: 412px) {
   
}

@media only screen and (max-width: 360px) {
  
   
}
    
      