
.container{
    display: flex;
    width: 375px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    background: #FCFCFC;
    cursor: pointer;
}
.outline_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--Primary-600, #CC400C);
    background: var(--Shade-White, #FFF);
    color: var(--Primary-600, #CC400C);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
    width: 100%;
}

.fill_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Primary-500, #EB5017);
    color: var(--Shade-White, #FFF);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
    border: none;
    width: 100%;
}

.fill_btn:disabled{
    background-color: rgb(199, 199, 199);
}
.flex_btw{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

.flex_row{
    display: flex;
    gap: 16px;
}
.img_circle{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.flex_col{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}
.label{
    color: #475367;

    /* Body small/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 20.3px */
}
.header{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body large/Semibold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 26.1px */
}


@media only screen and (max-width: 1440px) {
   
}
    
@media only screen and (max-width: 1074px) {
 
}

@media only screen and (max-width: 1024px) {
 
}

@media only screen and (max-width: 768px) {
 
}

@media only screen and (max-width: 412px) {
  .flex_btw{
    flex-direction: column;
  }
}

@media only screen and (max-width: 360px) {
   
}
    
      
      