

.container{
    display: flex;
    height: 40px;
    overflow: visible;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.option_con{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    box-shadow: 0 0 4px rgb(204, 204, 204);
    top: 60px;
    padding: 10px;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: white;
}

.resize{
    height: 30px;
    width: 30px;
}

.flex_row{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.trans_icon{
  width: 25px;
}


@media only screen and (max-width: 1440px) {



}


@media only screen and (max-width: 1074px) {
  
    
}

@media only screen and (max-width: 1024px) {
   
   
   
}

  
@media only screen and (max-width: 768px) {
    
    .option_con{
        top: 90px;
    }
}

@media only screen and (max-width: 412px) {
   

}


@media only screen and (max-width: 360px) {
   
}

  

