.flex_row_btw_input{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-top: 50%;
    gap: 24px;
    width: 100%;
}
.count_con{
    display: flex;
    gap: 12px;
}
.btn_fill{
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Primary-500, #EB5017);
    color: var(--Shade-White, #FFF);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
    width: 100%;
    border: none;
}

.header_con{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.slide_con{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.label_1{
    color: #475367;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}

.btn_con{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 2px 8px 0 rgba(177, 177, 177, 0.32);
    cursor: pointer;
}
.count{
    color: #232933;
    text-align: center;

    /* Body small/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 20.3px */
    color: #232933;
    text-align: center;

    /* Body small/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 20.3px */
    border-style: none;
    border-bottom-style: solid;
    border-color: #000;
    border-width: 2px;
    width: 80px;
}