
.container_main{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.container{
    display: flex;
    padding: 12px 20px;
    align-items: flex-start;
    gap: 17px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    width: 100%;
    overflow: hidden;
    color: var(--Color---Primary-text-color, #111827);
    font-feature-settings: 'cv03' on, 'cv04' on;
    text-overflow: ellipsis;

    /* Body small - regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
 cursor: pointer;
   
}
.header{
    color: var(--Color---Primary-text-color, #111827);
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body medium/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin: 0px;
    padding: 0px;
}

.p{
     text-overflow: ellipsis;
    overflow-x: hidden;
    width: 100%;
      max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
}
.resize{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}