.modal{
    display:flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    background: #FFF;
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    min-width: 700px;
}

.container_header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 0px;
    margin-bottom: 20px;
    height: 0px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container_item{
    display: flex;
    padding: 20px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 8px;
    background: #FCFCFC;
    width: 100%;
}

.header{
    color: #000;
    font-feature-settings: 'cv03' on, 'cv04' on;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.itm_img{
    border-radius: 16px;
    border: 1.5px dashed var(--Grey-300, #D0D5DD);
    background: lightgray 50% / cover no-repeat, #FFF;
    height: 198px;
    align-self: stretch;
}
.flex_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
    width: 50%;
    gap: 24px;
}
.flex_2{
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    background: #FFF;
    width: 50%;
    gap: 12px;
}
.header_2{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
    /* Body large/Semibold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 26.1px */
    padding: 0px;
}

.textarea{
    color: var(--Grey-400, #98A2B3);
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    width: 100%;
}
.input_con{
    width: 100%;
}
.text_label{
    color: var(--Grey-900, #101928);

    /* Paragraph/Small/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0px;

}
.flex_row_btw{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.label_1{
    color: #475367;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}

.label_2{
    color: #475367;
    text-align: right;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body small/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}

.flex_row_btw_sm{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
    margin-left: auto;
    margin-top: 50%;
    gap: 24px;
}
.total{
    color: var(--Grey-900, #101928);
    text-align: right;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
}
.total_label{
    color: #475367;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}
.btn_con{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 2px 8px 0 rgba(177, 177, 177, 0.32);
}
.count{
    color: #232933;
    text-align: center;

    /* Body small/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 20.3px */
    color: #232933;
    text-align: center;

    /* Body small/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 20.3px */
    border-style: none;
    border-bottom-style: solid;
    border-color: #000;
    border-width: 2px;
    width: 80px;
}
.control_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.flex_row_btw_input{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-top: 50%;
    gap: 24px;
    width: 100%;
}
.count_con{
    display: flex;
    gap: 12px;
}
.btn_fill{
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Primary-500, #EB5017);
    color: var(--Shade-White, #FFF);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
    width: fit-content;
    border: none;
}
.grid_con{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}
.calendar{
    color: var(--Grey-400, #98A2B3);
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
   
    height: 56px;
   
    border-radius: 6px;
    border: 1px solid var(--Grey-300, #D0D5DD);
    background: var(--Shade-White, #FFF);
    justify-content: space-between;
}
.labels{
    padding: 0px;
    margin: 0px;
}

.form_input{
    width: 100%;
}

.no_spacing{
    padding: 0px 5px;
    margin:5px 0px;
}
.text_area{
    border-radius: 10px;
}

.full_w{
    padding-left: 0px;
}
.form_header{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Heading 5/Semibold */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.48px;
    margin: 0px;
    padding: 0px;
}
.label_txt{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
}
.flex_row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn_outline{
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid var(--Grey-100, #F0F2F5);
    background: var(--Shade-White, #FFF);
    color: var(--Grey-400, #98A2B3);
    text-align: center;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Paragraph/Medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
}

.map_overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    z-index: 8888;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    border-radius: 8px;
    background: #F7F7F7;

}

.map_con{
    width: 100%;
    height: 400px;
}

.location_selected{
    display: flex;
    padding: 12px 16px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    background: #FFF;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
}
.location_selected_2{
    display: flex;
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    background: #FFF;
    flex-wrap: wrap;
    width: 100%;
}
.loca_con{
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #F7F7F7;
}
.remove{
    width: 16px;
    height: 16px;
    position: absolute;
    margin-right: -20px;
    margin-top: -40px;
    display: flex;
    align-self: flex-end;
    justify-self: baseline;
    cursor: pointer;
}
.mark_con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_btn{
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Primary-500, #EB5017);
    border-style: none;
    color:white;
}

.close_con{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
    top:0px;
    padding: 5px;
    position: absolute;
    cursor: pointer;
   
}
.close_map{
    margin-top: -20px;
    background-color: rgb(250, 250, 250);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px gray;
}

.close_map:hover{
    box-shadow: 0 0 5px gray;
}


.close_btn{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    margin-top: -10px;
    margin-left: auto;
    border: none;
}
.close_icon{
    margin-right: -50px;
    position: absolute;
}

.flex_row_area{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 16px;
    border-radius: 6px;
    border: 1px solid var(--Grey-300, #D0D5DD);
}
.flex_col{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.placeholder{
    color: var(--Grey-400, #98A2B3);
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}


@media only screen and (max-width: 1440px) {



}


@media only screen and (max-width: 1074px) {
  
    
}

@media only screen and (max-width: 1024px) {
   
   
   
}

  
@media only screen and (max-width: 768px) {

    .modal{
        width: 90%;
        padding: 20px;
        margin: 20px;
        min-width: 350px;
    }
   

}

@media only screen and (max-width: 412px) {
   

}


@media only screen and (max-width: 360px) {
   
}

  

