
.show_labe{
  display: block;
}

.error{
  color: red;
}

.field_con{
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 56px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--Grey-300, #D0D5DD);
  background: var(--Shade-White, #FFF);
}

.field_con svg{
  margin-right: 10px;
  display: flex;
  cursor: pointer;
  margin-left: -20%;
}
.field_con input{
  border: none;
  background-color: transparent;
  width: 100%;
}

.field_con input:focus{
  border: none;
}

.password_con{
  display: flex;
  flex-direction: column;
}
