
.formContent{
    display: inline-flex;
    flex-direction: column;
    padding: 32px 60px;
    align-items: center;
    gap: 20px;
    border-radius: 9px;
    background: #ffffff;
    min-width: 700px;
    height: fit-content;
}

.container{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.tabs_con{
    display: flex;
    justify-content: space-between;
    display: flex;
    width: 604px;
    height: 36px;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    background: #FFF;
}
.tab_item{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: #000;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    cursor: pointer;
}
.active{
    border-radius: 4px;
    background: #FCF3F0;
}

.sub_con{
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #FAFAFA;
}
.sub_header{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
    padding: 0px;
    margin: 0px;
}
.section_gray{
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #FAFAFA;
}
.header{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body medium/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 23.2px */
}
.header_2{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body large/Semibold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 26.1px */
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.check_con{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.form_check{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.space_btm{
    margin-bottom: 10px;
}

.flex_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}
.flex_row_start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
}

.width_50{
    width: 50%;
}

label{
    color: #000;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}
.no_spacing{
    padding: 0px;
    margin: 0px;
}

.label_header{
    color: var(--Grey-900, #101928);

    /* Paragraph/Small/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 20.3px */
}

.base_btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.base_btns > div{
    display: flex;
    gap: 20px;
}

.btn_1{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid #CC400C;
    background: #FFF;
    color: #CC400C;
}

.btn_prev{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid  #F0F2F5;
    background: #FFF;
    color: rgb(167, 167, 167);
}

.btn_next{
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    gap: 10px;
    border-radius: 8px;
    background:  #EB5017;
    color: white;
}
.btn_next:disabled{
    border-radius: 8px;
    background: var(--Grey-500, #a7a7a7);
    cursor: not-allowed;
}

.textInput{
    display: flex;
    width: 189px;
    height: 56px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E3E8ED;
    background: #FFF;
    color: #3a3a3a;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.28px;
}


.textInput_3{
    display: flex;
    height: 56px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E3E8ED;
    background: #FFF;
    color: #3a3a3a;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.28px;
}


.textInput_2{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    color: #3a3a3a;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.28px;
}


.flex_row_select{
    display: flex;
    gap: 10px;
}
.select{
    display: flex;
    height: 56px;
    padding: 8px;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid #E3E8ED;
    background: #FFF;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.28px;
}
.flex_row_btw_con{
    display: flex;
    justify-content: space-between;
    display: flex;
    height: 56px;
    padding: 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Grey-300, #D0D5DD);
    background-color: var(--Shade-White, #FFF);

}

.flex_row_btw_con input{
    border-style: none;
    padding-left: 0px;
    font-size: 16px;
    background-color: transparent;
}

.flex_row_btw_con input:active{
    border: none;
}

.flex_row_btw_con{
    display: flex;
    justify-content: space-between;
    display: flex;
    height: 56px;
    padding: 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Grey-300, #D0D5DD);
    background: var(--Shade-White, #FFF);

}

.flex_row_btw_con input{
    border-style: none;
    padding-left: 0px;
}

.flex_row_btw_con input:active{
    border: none;
}

.money_con{
    display: flex;
    justify-content: flex-start;
    display: flex;
    width: 189px;
    height: 56px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E3E8ED;
}

.money_con input{
    border: none;
    background-color: transparent;
}


.close_btn{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
    margin-top: -20px;
    margin-left: auto;
    margin-bottom: 20px;
}
.close_icon{
    margin-right: -50px;
    position: absolute;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.marg_btm_1{
    padding-bottom: 2px;
    color: #101928;
}


.desktop{
        display: flex;
}
.mobile{
    display: none;
}

@media only screen and (max-width: 1440px) {
   
}
    
@media only screen and (max-width: 1074px) {
   
}

@media only screen and (max-width: 1024px) {

  
   
}

@media only screen and (max-width: 768px) {
    
        
    .desktop{
            display: none;
    }
    .mobile{
        display: flex;
    }
    .formContent{
        min-width: 300px;
        width: 100%;
        padding: 16px;
        margin-bottom: 50px;
    }

    .close_icon {
        margin-right: 0px;
    }

    .close_btn {
        margin-top: 0px;
    }

    .flex_row{
        flex-direction: column;
        margin-top: 20px;
    }
    .width_50{
        width: 100%;
    }
    .textInput{
        width: 100%;
    }

    .money_con{
        width: 100%;
    }

    .money_con input{
        background-color: transparent;
    }

    textarea{
        margin-top: 10px;
    }
   
}

@media only screen and (max-width: 412px) {
   
}

@media only screen and (max-width: 360px) {
  
   
}
    
      


