.main_con{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    gap: 80px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    background: #FFF;
    width: 100%;
}

.flex_row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.flex_grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}
.select_country{
    height: 50px;
    padding: 20px;
}
.flex_col{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
.header{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body large/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 26.1px */
    margin: 0px;
}
.sub_header{
    color: #000;
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;

    /* Body medium/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 23.2px */
}
.edit_btn{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--Primary-600, #CC400C);
    background: var(--Shade-White, #FFF);
    color:#CC400C;
    height: 40px;
}
.detail{
    width: 80%;
    padding: 0px;
    margin: 0px;
    color: #595959;
    font-feature-settings: 'cv03' on, 'cv04' on;

    /* Body small/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}